/*Styling for MOBILE First*/

*{padding:0;margin-left:0.5%;}

body{
    background-color:#f9fafc;
}

nav{
    display:flex;
    flex-direction:column;
    font-family: 'Open Sans', sans-serif;
    margin-left: 15px;
}

a{
    color:#69696a;
    text-decoration:none;
    margin-top:5px;
    font-weight:100;
}

#HireUs{
    background-color:#000;
    color:#f9fafc;
    border-radius:50px;
    width:90%;
    align-self:center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size:16px;
    padding:5px;
}

#Content{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-left: 15px;
}

h1{
    font-family: 'Open Sans', sans-serif;
    align-self:flex-start;
    margin-left: 15px;
}

h4{
    margin-left: 15px;
}

p{
    color:#69696a;
    font-family: 'Open Sans', sans-serif;
    font-weight:normal, 400;
    border-left:4px solid #69696a;
    padding-left: 20px;
}

#ScrollContainer{
    display: flex;
    justify-content: center
}

#Scroll{
    font-family: 'Open Sans', sans-serif;
    font-weight:800;
    font-size:16px;
    background-color:#000;
    color:#f9fafc;
    border-radius:20px;
    width:90%;
    align-self:center;
    padding:5px;
}



/*Styling for DESKTOP*/
@media (min-width:768px){
       
    header{
        display:flex;
        justify-content: space-between;
        align-items:center;
    }
    
    nav{
        align-items: flex-end;
        flex-direction:row;
    }
    
    a{
        margin:10px;
        white-space:nowrap;
        font-weight:100;
    }
    
    #HireUs{
        white-space:nowrap;
        padding: 5px 30px;
    }
    
    
    #Content{
        display:flex;        
        flex-direction:row;
        justify-content:space-between;
    }
    
    p{
        width:40%;
    }
        
    #Circles{
        width:50%;
        position:relative;
        align-self:baseline;
        left:0%;
    }
    
    
    #RedCircle{
        height:300px;
        width:300px;
        border-radius:50%;
        background-color:rgba(247,   136,   167,   0.6);
        position:absolute;
        top:-50px;
    }
    
    
    #PurpleCircle{
        height:150px;
        width:150px;
        border-radius:50%;
        background-color:rgba(207,   130,   213,   0.6);
        position:absolute;
        left:250px;
        top:-20px;
    }
    
    #OrangeCircle{
        height:190px;
        width:190px;
        border-radius:50%;
        background-color:rgba(247,   193,   162,   0.7);
        position:absolute;
        left:200px;
        top:100px;
    }

    

    #Scroll{
        margin-top:200px;
        padding: 10px 30px;
        border-radius:20px;
        width:auto;
    }

    

}  /*Above if the bracket for end-media query of Desktop*/